.container {
    text-align: center;
    margin-bottom: 4%;
    width: 95%;
    margin: auto;
}

.image{
    margin-top: 10%;
    width: 40%;
    height: 0%;
}

.name {
    margin-top: 3%;
    font-size: larger;
}

.end{
    text-align: right;
}

.green {
    background: #00bb2d!important;
    border-radius: 5px;
    margin-left: 2%;
}

.white {
    color: white!important;
}


